{% extends "../layouts/single-column.twig" %}

{% set title = "" %}
{% set class = "" %}

{% block content %}

    <hr class="is-hidden">
    <h1 class="is-hidden">{{ get_project_name() }}</h1>

    {% svg "logo", "300x100" %}
    <pre>{{ get_project_name() }} - {{ get_project_version() }}</pre>
    <pre>{{ get_project_description() }}</pre>
    <pre><a href="{{ get_project_repository() }}">{{ get_project_repository() }}</a></pre>

{% endblock %}
