{% extends "./layouts/template.twig" %}

{% set title = "Templates - Home" %}
{% set class = "template-home" %}
{% set templates = true %}

{% block content %}

    {% set project = get_project_informations() %}

    <div class="grid">
        <div class="grid-wrapper">
            <section class="col-1-2 col-1-1-mobile">
                <header>
                    <h1 class="template-title">{{ project.displayedName }}</h1>
                    <p class="template-description">{{ project.description }}</p>
                </header>
                <h2 class="template-title">Gabarits</h2>
                <ul class="template-list">
                    {% for page in get_static_pages() %}
                        <li><a href="/{{ page }}">{{ page }}</a></li>
                    {% endfor %}
                </ul>
            </section>

            <section class="col-1-2 col-1-1-mobile">
                <h2 class="template-title">Informations</h2>
                <div class="table template-table">
                    <div class="tr">
                        <div class="td">Nom du projet</div>
                        <div class="td">{{ get_project_name() }}</div>
                    </div>
                    <div class="tr">
                        <div class="td">Version</div>
                        <div class="td">{{ get_project_version() }}</div>
                    </div>
                    <div class="tr">
                        <div class="td">Git</div>
                        <div class="td">
                            <a href="{{ get_project_repository() }}" target="_blank">{{ get_project_repository() }}</a>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td">Responsive</div>
                        <div class="td">{{ get_project_responsive() }}</div>
                    </div>
                    <div class="tr">
                        <div class="td">Accessible</div>
                        <div class="td">{{ get_project_accessible() }}</div>
                    </div>
                    <div class="tr">
                        <div class="td">Retina</div>
                        <div class="td">{{ get_project_retina() }}</div>
                    </div>
                    <div class="tr">
                        <div class="td">Navigateurs</div>
                        <div class="td">
                            <ul class="template-list">
                                {% set browsers = get_project_browsers() %}
                                {% for browser in browsers %}
                                    <li>{{browser}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
