{# default.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>

    {% if title is empty %}
    <title>{{ get_project_name() }} - {{ get_project_version() }}</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="{{ get_project_description() }}">
    <meta name="dcterms.description" content="{{ get_project_description() }}" />
    <meta name="keywords" content="{{ get_project_keywords() }}" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{ get_project_name() }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="{{ get_project_url() }}" />
    <meta property="og:description" content="{{ get_project_description() }}" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon.png">

    <!-- Stylesheets -->
    {% stylesheet "/css/main.css" %}

    <!-- Templates styles -->
    {% if templates == true %}{% stylesheet "/css/templates.css" %}{% endif %}

    <!-- Modernizr & Detectizr -->
    {% script "/js/vendor/modernizr.min.js" %}
    {% script "/js/vendor/detectizr.min.js" %}

</head>
<body class="{{ class }}">

    <a href="#skip-content-anchor" class="skip-content-link">Passer au contenu</a>

    <!-- Header -->
    {% include '../partials/header.twig' %}

    <!-- Content -->
    {% block page %}{% endblock %}

    <!-- Footer -->
    {% include '../partials/footer.twig' %}

    {# google-analytics "XX-XXXXXXXX-X" #}

    <!-- Javascript bundle -->
    {% script "/js/bundle.js" %}

</body>
</html>
